.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.btn-success {
  background-color: #42b5be;
  color: white;
  border: none;
}

.btn-danger {
  background-color: red;
  color: white;
  border: none;
}

.btn-success:hover, .btn-danger:hover {
  opacity: 0.8;
}
