
.navbar {
  background-color: #343a40;
}

.navbar-brand {
  font-weight: bold;
  color: #fff;
}

.navbar-right {
  color: #fff;
}

.nav-link {
  color: #fff;
}

.nav-link:hover {
  color: #f8f9fa;
}


.active .nav-link {
  color: #f8f9fa !important;
}


.container {
  margin-top: 30px;
}
