<div class="students-card">
<li [ngClass]="{'list-group-item': true,
 'list-group-item-success': studentStatus === 'present',
 'list-group-item-danger': studentStatus === 'absent'}">
  <h4 [ngStyle]="{color: getColor()}">étudiant : {{ studentName }} -- Statut : {{ getStatus() }}</h4>
  <input type="text" class="form-control" [(ngModel)]="studentName">
  <app-students>[id]="student.id"></app-students>
  <a [routerLink]="[id]">Détail</a>
  <button class="btn btn-sm btn-success"
          *ngIf="studentStatus === 'absent'"
          (click)="onSwitch()">Présent</button>
  <button class="btn btn-sm btn-danger"
          *ngIf="studentStatus === 'present'"
          (click)="onSwitch()">Absent</button>

</li>
</div>
