<li [ngClass]="{'list-group-item':true,
      'list-group-item-success':studentStatus === 'present',
      'list-group-item-danger': studentStatus === 'absent'}">

  <input type="text" class="form-control" [(ngModel)]="studentName">
  <button class="btn btn-success"
          *ngIf="studentStatus==='absent'"
          (click)="onSwitch()">
    Present
  </button>
  <button class="btn btn-danger"
          *ngIf="studentStatus==='present'"
          (click)="onSwitch()">
    Absent
  </button>
  <h4 [ngStyle]="{color:getColor()}"> Etudiant: {{ studentName }} -- Status: {{ getStatus() }}</h4>

  <a [routerLink]="[id]">Détail</a>
</li>
